<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Mafia - The Dark Knight</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body
    class="bg-zinc-900 text-zinc-200 font-sans leading-normal tracking-normal"
  >
    <!-- Loader -->
    <%- include('partials/loader') %>

    <!-- Navbar -->
    <%- include('partials/navbar') %>

    <!-- Movie Detail Section -->
    <div class="container mx-auto px-4 py-8">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
        <!-- Movie Poster -->
        <div class="flex justify-center">
          <img
            src="<%= movie.image %>"
            alt="The Dark Knight Poster"
            class="rounded-lg shadow-lg w-3/4 lg:w-full h-auto"
          />
        </div>

        <!-- Movie Info -->
        <div>
          <!-- Movie Title -->
          <h1
            class="text-2xl sm:text-3xl md:text-4xl font-bold text-zinc-100 mb-4"
          >
            <%= movie.title %>
          </h1>

          <!-- Movie Categories -->
          <div class="flex flex-wrap gap-2 my-2">
            <% movie.categories.forEach(category=> { %>
            <span
              class="bg-blue-600 text-blue-100 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded"
            >
              <%= category %>
            </span>
            <% }); %>
          </div>

          <!-- Movie Description -->
          <p
            class="text-base sm:text-lg md:text-xl text-zinc-400 mb-6 leading-relaxed"
          >
            <%= movie.description %>
          </p>

          <!-- Download and Trailer Buttons -->
          <div class="flex flex-col sm:flex-row gap-4">
            <a
              href="<%= movie.download %>"
              target="_blank"
              class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded text-center"
            >
              Download Movie
            </a>
            <a
              href="<%= movie.trailer %>"
              target="_blank"
              class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 rounded flex items-center justify-center"
            >
              <img
                src="/images/youtube-icon.png"
                alt="Watch Trailer"
                class="w-5 h-5 mr-2"
              />
              Watch Trailer
            </a>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/commonscript.js"></script>
  </body>
</html>
